.slowlyAppear {
  -webkit-animation: slowlyAppear 0.5s linear; /* Chrome, Safari, Opera */
  animation: slowlyAppear 0.5s linear;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes slowlyAppear {
  from {opacity: 0;}
  to {opacity: 1;}
}

/* Standard syntax */
@keyframes slowlyAppear {
  from {opacity: 0;}
  to {opacity: 1;}
}

/*
 * +-----------------------------------------+   -
 * |       |         opponent        |       |   |
 * |- 1% - |---------- 98% ----------|-  1% -|   4%
 * |-----------------------------------------|   -
 * |       |                         |       |   |
 * |       |                         |       |   |
 * |       |                         |       |   |
 * |       |                         |       |   |
 * |-  1% -|          board          |-  1% -|  72%
 * |       |                         |       |   |
 * |       |                         |       |   |
 * |       |                         |       |   |
 * |       |                         |       |   |
 * |       |                         |       |   |
 * |-----------------------------------------|   -
 * |     info  |               |    btn      |   6%
 * |-----------------------------------------|   -
 * |       |                         |       |   |
 * |- 1%  -|---------- 80% ----------|-  1% -|  18%
 * |       |          player         |       |   |
 * +-----------------------------------------+   -
 *
 */

.panel-container {
    position: absolute;
    left: 1%;
    width: 98%;
    right: 1%;
    padding: -15px -15px;
    /*border: groove;*/
}


.player-panel{
    top: 0;
    height: 4%;
    /*border: groove;*/
}

.center-panel{
    top: 4%;
    padding: 5px 15px;
    height: 77%;
}

.info-panel {
    top: 80%;
    height: 8%;
}

.hand-panel {
    top: 88%;
    height: 12%;
    border: groove;
}

.player-info {
    display: inline-block;
    position: relative;
    width: 25%;
    height: 100%;
    font-size: 3vmin;
}

#board {
    position: relative;
    left: 0%;
    width: 100%;
    height: 100%;
    /*padding: 1% 1%;*/
}



div#hand {
    position: relative;
    left: 5%;
    width: 90%;
    height: 100%;
}

.info {
    font-size: 3vh;
    float: left;
}

.game-btn {
    float: right;
}

#hand ul {
    padding-left: 0;
    width: 100%;
    height: 80%;
    list-style: none;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}
#hand ul li {
    display: inline-block;
    vertical-align: middle;
}

#welcome .modal-dialog{
    margin: 0 auto;
}


#welcome img {
    margin: auto auto;
}

#welcome .modal-header {
    /*border-bottom: none;*/
}

#welcome .modal-body {
    height: 20%;
    font-family: 'Lato', Times, 'Times New Roman', serif;
}

#welcome .modal-content {
}

.animate-enter, .animate-leave {
    transition: 500ms ease-in all;
    position: relative;
    display: block;
}
.animate-enter.animate-enter-active, .animate-leave {
    left: 0;
}
.animate-leave.animate-leave-active, .animate-enter {
    left: 500px;
}
