#game {
   background-image: url('../img/game-background.jpg');
   background-size: 100% 100%;
   font-size: 2.5vw;

   /*adding below to fix background image bug for mobile browsers*/
   -o-background-size: cover;
   -moz-background-size: cover;
   -webkit-background-size:cover;
}

/*
 *  |----------------    game area   -------------|
 *  +---------------------------------------------+
 *  |col-xs-1|------------- col-xs-11 ------------|
 *  |        | +--------------------------------+ |
 *  |        | |                                | |
 *  |        | |                                | |
 *  |        | |                                | |
 *  |        | |              board             | |
 *  |        | |            (6  x 18)           | |
 *  |        | |                                | |
 *  |  menu  | |                                | |
 *  |        | |                                | |
 *  |        | |col-xs-18|............|col-xs-18| |
 *  |        | +--------------------------------+ |
 *  |        |                                    |
 *  |        | +--------------------------------+ |
 *  |        | |   +--------------------------+ | |
 *  |        | |   |          player          | | |
 *  |        | |   +------- col-xs-10 --------+ | |
 *  |        | +--------------------------------+ |
 *  +---------------------------------------------+
 */

#menuArea {
   padding: 0;     /* clear left, right padding to save space for board */
   border: groove;
   height: 100vh;  /* let menu fill the whole height space */
   text-align: center;
}

#menuArea .row {
   height: 100%;
   font-size: 2.5vw;
}

#menuArea > .row > .col-xs-12{
   padding-bottom: 1.3vw    /* [Setter] here for distance between items in left menu */
}

.btn-circle {
   width: 24px;
   height: 24px;
   text-align: center;
   padding: 0 0;
   font-size: 2vw;
   line-height: 1.428571429;
   border-radius: 12px;
}

#board-panel .row {
   margin: 0.8vh 0;       /* [Setter] distance between rows in board */
}

/* customed column for Bootstrap's grid system */
.col-xs-18 {
   width: 5.55555%;      /* 100 / 18 = 5.55% */
   float: left;
   position: relative;
   min-height: 1px;
   padding-left: 2px;
   padding-right: 2px;
}

#info-panel {
   font-size: 1.5vw;
}

#player-panel ul {
   padding-left: 0;
   /*width: 100%;*/
   height: 80%;
   list-style: none;
   -webkit-overflow-scrolling: touch;
}

#player-panel ul li {
   position: relative;
   width: 7.14%;
   display: inline-block;
   vertical-align: middle;
}

/* center the image of carousel inside modal */
.carousel-inner > .item > img, h6{
   margin: 0 auto;
   text-align: center;
   color: #808080;
   text-shadow: 0 1px 2px rgba(0,0,0,.6);
}

/* move the carousel indicators down a little bit */
.carousel-indicators {
   /*bottom:-10px;*/
}

/* overloading css in Bootstrap */

.row {
   margin: 0;
}

div[class^='col-xs-'] {
   padding: 0;
}

#menuArea p {
   margin: 0 0 10%;
}
