.row {
   margin: 0;
}

div[class^='col-xs-'] {
   padding: 0;
}

#bg {
   background-position: center top;
   padding: 70px 90px 120px 90px;
}

@media screen and (orientation:landscape) {
   #menuArea {

   }
   .btn-circle {
      width: 26px;
      height: 26px;
      border-radius: 13px;
   }

   #rotate {
      display: none;
   }

}

@media screen and (orientation:portrait) {
   #menuArea {
      width: 96%;
      margin: 5% 2%;
      border: none;
   }

   .btn-circle {
      width: 28px;
      height: 28px;
      border-radius: 14px;
   }

   #rotate {
      display: inline;
   }
}
