#gameArea {
    background-image: url('../img/game-background.jpg');
    background-size: 100% 100%;
    font-size: 3vw;

    /* adding below to fix background image bug for mobile browsers */
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size:cover;
}

/*
 *  |----------------    game area   -------------|
 *  +---------------------------------------------+
 *  |col-xs-1|------------- col-xs-11 ------------|
 *  |        | +--------------------------------+ |
 *  |        | |                                | |
 *  |        | |                                | |
 *  |        | |                                | |
 *  |        | |              board             | |
 *  |        | |            (6  x 18)           | |
 *  |        | |                                | |
 *  |  menu  | |                                | |
 *  |        | |                                | |
 *  |        | |col-xs-18|............|col-xs-18| |
 *  |        | +--------------------------------+ |
 *  |        |                                    |
 *  |        | +--------------------------------+ |
 *  |        | |   +--------------------------+ | |
 *  |        | |   |          player          | | |
 *  |        | |   +------- col-xs-10 --------+ | |
 *  |        | +--------------------------------+ |
 *  +---------------------------------------------+
 */

#menu-panel {
    padding: 0;     /* clear left, right padding to save space for board */
    border: groove;
    height: 100vh;  /* let menu fill the whole height space */
    text-align: center;
}

#menu-panel .row {
    margin-top: 10vh;
    height: 100%;
}


#menu-panel > .row > .col-xs-12{
    padding-bottom: 3vw   /* [Setter] here for distance between items in left menu */
}

.btn-circle {
    width: 24px;
    height: 24px;
    text-align: center;
    padding: 0 0;
    font-size: 2vw;
    line-height: 1.428571429;
    border-radius: 12px;
}

#board-panel .row {
    margin: 0.8vh 0px;       /* [Setter] distance between rows in board */
}

/* customed column for Bootstrap's grid system */
#board-panel .col-xs-18 {
    width: 5.55555%;      /* 100 / 18 = 5.55% */
    float: left;
    position: relative;
    min-height: 1px;
    padding-left: 2px;
    padding-right: 2px;
}

#info-panel {
    font-size: 1.5vw;
}


#player-panel ul {
    padding-left: 0;
    width: 100%;
    height: 80%;
    list-style: none;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}
#player-panel ul li {
    position: relative;
    width: 7.14%;
    /*float: left;*/
    display: inline-block;
    vertical-align: middle;
}



@media (min-width: 240px) {

    .container {
        padding-left: 2px;
        padding-right: 2px;
    }

    /* case not rotate: a little optimization for small device */
    .col-xs-11 {
        padding-top: 8vh;
        padding-left: 5px;
        padding-right: 5px;
    }

    #board-panel .col-xs-18 {
        padding-left: 0px;
        padding-right: 1px;
    }

    #player-panel {
        margin-top: 15%;
    }

    #player-panel .col-xs-1 {
        padding-left: 0px;
        padding-right: 0px;
    }

}

@media (min-width: 480px) {
    .col-xs-11 {
        padding-top: 1vh;
        padding-left: 15px;
        padding-right: 15px;
    }

    #board-panel {
        padding: 0 1px;
    }

    #board-panel .col-xs-18 {
        padding-left: 1px;
        padding-right: 1px;
    }

    #player-panel {
        margin-top: 0%;
    }

    #player-panel .col-xs-1 {
        padding-left: 1px;
        padding-right: 1px;
    }
}

@media (min-width: 600px) {
    .col-xs-11 {
        padding-left: 15px;
        padding-right: 15px;
    }

    #board-panel .col-xs-18 {
        padding-left: 5px;
        padding-right: 0px;
    }
}

/* center the image of carousel inside modal */
.carousel-inner > .item > img, h6{
    margin: 0 auto;
    text-align: center;
    color: #808080;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
}

/* move the carousel indicators down a little bit */
.carousel-indicators {
    /*bottom:-10px;*/
}

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
}
