/** File: app/css/tile.css */

/*
 *   +-----------------------------------+
 *   |                10%                |
 *   |----+-------------------------+----|
 *   |    |            5%           |    |
 *   |    |-------------------------|    |
 *   |    |                         |    |
 *   |    |         number          |    |
 *   |    |           or            |    |
 *   |    |          joker          |    |
 *   |-5%-|-20%-|             |-20%-|-5%-|
 *   |    |                         |    |
 *   |    |                         |    |
 *   |    |                         |    |
 *   |    |                         |    |
 *   |    |                         |    |
 *   |    |                         |    |
 *   |    |                         |    |
 *   |----+-------------------------+----|
 *   |    |          10%            |    |
 *   +-----------------------------------+
 */

.tile-wrapper {
    border-style: outset;
    border-width: 1px;
    width: 100%;
    height: 100%;
    /*padding-bottom: 150%;*/ /* for fixed width-height ratio */
    display: inline-block;
    position: relative;
    background-color: #E0E0E0;
}

.tile-content{
    position: absolute;
    left: 25%;
    width: 50%;
    right: 25%;
    top: 5%;
    height: 50%;
    bottom: 0;

    /* fill parent */
    /*background-color: #f5f5f5;*/
    /* let's see it! */
}

.tile-score {
    position: absolute;
    width: 90%;
    top: 5%;
    left: 5%;
    font-weight: bold;
    text-align: center;
    font-size: 3.5vmin;
    /*background-color: #f5f5f5;*/
}

.tile-joker {
    position: absolute;
    width: 60%;
    height: 60%;
    top: 12%;
    left: 20%;
    /*background-color: #f5f5f5;*/
}



#board .joker {
    top: 15%;
}

div[data-value*='orange'][data-value]{
    color: #aa7832;
}

div[data-value*='red'][data-value]{
    color: #aa0909;
}

div[data-value*='blue'][data-value]{
    color: #0f74aa;
}

div[data-value*='black'][data-value]{
    color: #010100;
}
