<script type="text/ng-template" id="help.html">
    <div class="modal-header">
        <button class="btn close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" style="text-align: center">
            {{'First time to play Rummikub?' | translate }}
        </h4>
    </div>
    <div class="modal-body">

        <div ng-controller="CarouselDemoCtrl">
            <div>
                <carousel interval="0">
                    <slide ng-repeat="help in helps">
                        <img ng-src={{help.image}} style="margin: auto">
                        <h6> {{ help.rule | translate}} </h6>
                    </slide>
                </carousel>
            </div>
        </div>
    </div><!-- /.modal-body -->
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
    </div>
</script>