<script type="text/ng-template" id="help.html">
    <div class="modal-header">
        <button class="btn close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" style="text-align: center">
            First time to play Rummikub?
        </h4>
    </div>
    <div class="modal-body">

        <div ng-controller="CarouselDemoCtrl">
            <div>
                <carousel interval="3000">
                    <slide active="slide.active">
                        <img src="img/valid.png" style="margin:auto;">
                        <p>Meld tiles in your hand in runs or groups</p>
                    </slide>
                    <slide>
                        <img src="img/valid-runs.png" style="margin:auto;">
                        <p class=""> Valid runs: same color, at least 3 tiles in order </p>
                    </slide>
                    <slide>
                        <img src="img/valid-groups.png" style="margin: auto">
                        <p> Valid groups: different color,same number </p>
                    </slide>
                    <slide>
                        <img src="img/valid-joker.png" style="margin: auto">
                        <p> Use joker to substitute </p>
                    </slide>
                    <slide>
                        <p>Sum of tiles' number >= 30 to achieve first meld.</p>
                        <img src="img/valid-run2.png" style="margin: auto">
                        <h6> 'Pick' one more tile when cannot meld.</h6>
                        See rules on <a href="http://en.wikipedia.org/wiki/Rummikub">wiki</a>.
                    </slide>
                </carousel>
            </div>
        </div>
    </div><!-- /.modal-body -->
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
    </div>
</script>