<!DOCTYPE html>
<html lang="en" ng-app="myApp" ng-strict-di>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Rummikub">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Rummikub</title>
    <!-- This must be the first js before emulator.js and app.js -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.min.js"></script>

    <script src="js/app.js"></script>
    <script src="js/services/gameLogicService.js"></script>
    <script src="js/controllers/gameAlertCtrl.js"></script>
    <script src="js/controllers/gameCtrl.js"></script>
    <script src="js/filters/filters.js"></script>

    <!--<script src="http://yoav-zibin.github.io/emulator/examples/drag_n_drop/dragAndDropListeners.js"></script>-->

    <link rel="stylesheet" href="http://yoav-zibin.github.io/emulator/main.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">


    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/tile.css">
    <link rel="stylesheet" type="text/css" href="css/responsive.css">
</head>

<body ng-cloak ng-controller="GameCtrl">

<div id="gameArea" class="container-fluid">
    <div class="row">
        <div id="menu-panel" class="col-xs-1">
            <div class="row">
                <div class="info col-xs-12" ng-repeat="i in [] | range: state.trace.nplayers">
                    <p ng-if="i == turnIndex" class="text-info">
                    <strong>Me</strong><br>{{board[6 + i].length}}
                    </p>
                    <p ng-if="i != turnIndex" class="text-warning">
                    <strong>P{{i}}</strong><br>{{board[6 + i].length}}
                    </p>
                </div>

                <div class="col-xs-12">
                    <button id="pickbtn" type="button" class="btn btn-info btn-circle" ng-click="pickBtnClicked()">pick</button>
                </div>

                <div class="col-xs-12">
                    <button id="meldbtn" type="button" class="btn btn-warning btn-circle" ng-click="meldBtnClicked()">meld</button>
                </div>

                <div class="col-xs-12" ng-controller="ModalDemoCtrl">
                    <div ng-include="'template/help.html'"></div>
                    <button class="btn btn-primary btn-circle" ng-click="open()">Help</button>
                </div>

                <div class="col-xs-12">
                    <p id="tiles-left" style="font-size: 2vw">{{106 - state.trace.nexttile}}</p>
                    <p style="font-size: 2vw">tiles left</p>
                </div>

            </div>
       </div><!-- /.menu-panel -->

        <div class="col-xs-11">

            <div id="board-panel" class="row">
                <div id="board" class="col-xs-12">

                    <div class="row" ng-repeat="row in [] | range: rows" style="">
                        <div class="col-xs-18" ng-repeat="col in [] | range: cols"
                             id="{{'e2e_test_board_div_' + row + 'x' + col}}"
                             ng-click="boardCellClicked(row, col)">

                            <div class="tile-wrapper">
                                <div class="tile"
                                     id="{{'e2e_test_board_tile_' + board[row][col] + '_' + row + 'x' + col}}"
                                     ng-show="shouldShowTileOnBoard(row, col)">

                                    <div ng-if="notJoker(board[row][col])" ng-init="tile = getTileByIndex(board[row][col])" data-value="{{tile.color}}">
                                        {{tile.score}}
                                    </div>

                                    <div ng-if="isJoker(board[row][col])">
                                        <img src="img/joker-red.png" alt="joker tile" class="center-block img-responsive">
                                    </div>
                                </div>
                            </div><!-- /.tile-wrapper -->

                        </div><!-- /.col-xs-18 -->
                    </div>
                </div>
            </div><!-- /#board-panel -->

            <div id="info-panel" class="row" ng-if="true">
                    info: {{debug}}

            </div>

            <div id="player-panel" class="row row-eq-height" style="border: groove;" ng-click="curPlayerAreaClicked()">

                <div class="col-xs-1 text-center" style="padding-top: 2%">
                    <i class="icon-chevron-sign-left icon-large"></i>
                </div>

                <div class="col-xs-10">
                    <ul ng-repeat="row in [rows + turnIndex]">
                        <li ng-repeat="col in [] | range: playerHand.length"
                            ng-click="boardCellClicked(rows + turnIndex, col)"
                                id="{{'e2e_test_hand_div_' + col}}">

                            <div class="tile-wrapper">
                                <div class="tile"
                                     id="{{'e2e_test_hand_tile_' + board[row][col] + '_' + row + 'x' + col}}"
                                     ng-show="shouldShowTileOnBoard(row, col)">

                                    <div ng-if="notJoker(board[row][col])" ng-init="tile = getTileByIndex(board[row][col])" data-value="{{tile.color}}">
                                        {{tile.score}}
                                    </div>

                                    <div ng-if="isJoker(board[row][col])">
                                        <img src="img/joker-red.png" alt="joker tile" class="center-block img-responsive">
                                    </div>
                                </div>
                            </div>

                        </li>
                    </ul>
                </div>

                <div class="col-xs-1 text-center" style="padding-top: 2%">
                    <i class="icon-chevron-sign-right icon-large"></i>
                </div>
            </div>

        </div><!-- /.col-xs-11 -->
    </div><!-- /.row -->
</div><!-- /#gameArea -->

<!--<div ng-include="'template/help.html'"></div>-->
<div ng-include="'template/error.html'"></div>


<script src="http://yoav-zibin.github.io/emulator/alphaBetaService.js"></script>
<script src="http://yoav-zibin.github.io/emulator/gameService.js"></script>
<script src="http://yoav-zibin.github.io/emulator/messageService.js"></script>
<script src="http://yoav-zibin.github.io/emulator/stateService.js"></script>
<script src="lib/bootstrap/ui-bootstrap-tpls-0.12.1.min.js"></script>
<!--<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>-->
<!--<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>-->
<!--<script src="http://code.jquery.com/ui/1.11.2/jquery-ui.min.js"></script>-->
<!--<script src="http://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>-->
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>-->
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap-theme.min.js"></script>-->
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular-touch.min.js"></script>
<!--<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular-animate.min.js"></script>-->
<!--<script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.10.3/TweenMax.min.js"></script>-->

</body>

</html>
