<!DOCTYPE html>
<html lang="en" ng-app="myApp" ng-strict-di>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Rummikub">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Rummikub</title>

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.js"></script>

    <script src="js/services/gameLogicService.js"></script>
    <script src="js/controllers/gameCtrl.js"></script>
    <script src="js/filters/filters.js"></script>

    <script src="http://yoav-zibin.github.io/emulator/resizeGameAreaService.js"></script>
    <script src="http://yoav-zibin.github.io/emulator/alphaBetaService.js"></script>
    <script src="http://yoav-zibin.github.io/emulator/gameService.js"></script>
    <script src="http://yoav-zibin.github.io/emulator/messageService.js"></script>
    <script src="http://yoav-zibin.github.io/emulator/stateService.js"></script>
    <link rel="stylesheet" type="text/css" href="http://yoav-zibin.github.io/emulator/main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.min.css">

    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/tile.css">
</head>

<body ng-cloak ng-controller="GameCtrl">

<div id="gameArea" class="container-fluid">
    <div class="row">
       <div id="menu-panel" class="col-xs-1 vertical-align" style="padding: 0;height: 100vh; border: groove">
            <div class="row">

                <div class="col-xs-12" ng-repeat="i in [] | range: state.nplayers">
                    <p ng-if="i == turnIndex" class="text-info small">
                        Me: {{state["player" + i].tiles.length}}
                    </p>
                    <p ng-if="i != turnIndex" class="text-warning  small">
                        P{{i}}: {{state["player" + i].tiles.length}}
                    </p>
                </div>

                <div class="col-xs-12">
                    <button id="pickbtn" type="button" class="btn btn-info btn-circle" ng-click="pickBtnClicked()">pick</button>
                </div>

                <div class="col-xs-12">
                    <button id="meldbtn" type="button" class="btn btn-warning btn-circle" ng-click="meldBtnClicked()">meld</button>
                </div>

                <div class="col-xs-12">
                    <button type="button" class="btn btn-primary btn-circle" data-toggle="modal" data-target="#introModal">
                        Help
                    </button>
                </div>
            </div>
       </div><!-- /.menu-panel -->

        <div class="col-xs-11">

            <div id="board-panel" class="row">
                <div id="board" class="col-xs-12">
                    <div class="row" ng-repeat="row in [] | range: rows" style="">
                        <div class="col-xs-18" ng-repeat="col in [] | range: cols"
                             id="{{'e2e_test_board_div_' + row + 'x' + col}}"
                             ng-click="boardCellClicked(row, col)">
                            <div class="tile-wrapper">
                                <div ng-if="notJoker(board[row][col])" class="tile-score" ng-init="tile = getTileByIndex(board[row][col])" data-value="{{tile.color}}">
                                    {{tile.score}}
                                </div>

                                <div ng-if="isJoker(board[row][col])" class="tile-joker">
                                    <img src="img/joker-red.png" alt="joker tile" class="center-block img-responsive">
                                </div>
                            </div>
                        </div><!-- /.col-xs-18 -->
                    </div>
                </div>
            </div><!-- /#board-panel -->

            <div id="info-panel" class="row">
                {{debug}}
            </div>

            <div id="player-panel" class="row row-eq-height" style="border: groove;" ng-click="curPlayerAreaClicked()">

                <div class="col-xs-1 text-center" style="padding-top: 2%">
                    <i class="icon-chevron-sign-left icon-large"></i>
                </div>

                <div class="col-xs-10">
                    <ul>
                        <li ng-repeat="tileIndex in curPlayer">


                            <div class="tile-wrapper"
                                 id="{{'e2e_test_tile_' + tileIndex }}"
                                 ng-click="tileClicked(tileIndex)"
                                 ng-init="tile = getTileByIndex(tileIndex)">

                            <div ng-if="tile != undefined && tile.color != 'joker'" class="tile-score" data-value="{{tile.color}}">
                            {{tile.score}}
                            </div>
                            <div ng-if="tile != undefined && tile.color == 'joker'" class="tile-score">
                            <img src="img/joker-red.png" alt="joker tile" class="center-block img-responsive">
                            </div>
                            </div>

                        </li>
                    </ul>
                </div>

                <div class="col-xs-1 text-center" style="padding-top: 2%">
                    <i class="icon-chevron-sign-right icon-large"></i>
                </div>
            </div>

        </div><!-- /.col-xs-11 -->
    </div><!-- /.row -->
</div><!-- /#gameArea -->

<div id="introModal"  class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">
                        First time to play Rummikub?
                    </h4>
                </div>
                <div class="modal-body">
                        <div id="myCarousel" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                <li data-target="#myCarousel" data-slide-to="1"></li>
                                <li data-target="#myCarousel" data-slide-to="2"></li>
                                <li data-target="#myCarousel" data-slide-to="3"></li>
                            </ol>

                            <div class="carousel-inner" role="listbox">
                                <div class="item active">
                                    <img src="img/valid.png" alt="valid runs">
                                    <h6>Meld tiles in your hand in runs or groups</h6>
                                </div>

                                <div class="item">
                                    <img src="img/valid-runs.png">
                                    <h6 class=""> Valid runs: same color, at least 3 tiles in order </h6>
                                </div>

                                <div class="item">
                                    <img src="img/valid-groups.png">
                                    <p> Valid groups: different color,same number </p>
                                </div>

                                <div class="item">
                                    <img src="img/valid-joker.png">
                                      <p> Use joker to substitute </p>
                                </div>

                                <div class="item">
                                    <p>Sum of tiles' number >= 30 to achieve first meld.</p>
                                    <img src="img/valid-run2.png">
                                    <p> 'Pick' one more tile when cannot meld.</p>
                                    <p>
                                        See rules on <a href="http://en.wikipedia.org/wiki/Rummikub">wiki</a>.
                                    </p>
                                </div>

                            </div>

                            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div><!-- /.myCarousel -->

                </div><!-- /.modal-body -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="http://code.jquery.com/ui/1.11.2/jquery-ui.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular-touch.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular-animate.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.10.3/TweenMax.min.js"></script>

</body>

</html>
